<div class="story-thumbnail world-thumbnail story" [ngClass]="{ 'hasSubstories': worldStory().substories && worldStory().substories.length > 0 }" [routerLink]="['/story', worldStory().id]">
    <div class="thumbnail-header">
        <h4 class="thumbnail-title">{{ worldStory().title }}</h4>
        <button class="thumbnail-delete-button" (click)="deleteStory(worldStory().id, $event)">Delete</button>
    </div>
    
    @if (showLocation() && locationNames.length > 0) {
        <div class="thumbnail-info thumbnail-location">
            {{ locationNames.join(', ') }}
        </div>
    }
    
    @if (showCharacters() && characterNames.length > 0) {
        <div class="thumbnail-info thumbnail-characters">
            {{ characterNames.join(', ') }}
        </div>
    }
    
    <div class="thumbnail-description">
        @for ( paragraph of worldStory().description.split('\n'); track paragraph) {
            <div class="thumbnail-paragraph">{{ paragraph }}</div>
        }
    </div>

    @if (substories && substories.length > 0) {
        <div class="thumbnail-substories">
            @for (substory of substories; track substory.id) {
                <app-substory-thumbnail
                    [substory]="substory">
                </app-substory-thumbnail>
            }
        </div>
    }

    <div class="thumbnail-tag-container">
    @for (tag of worldStory().tags; track tag) {
        <div class="tag" (click)="onTagClick(tag, $event)">{{ tag }}</div>
    }
    </div>
</div>