.story-thumbnail {
  width: 30rem;
  display: flex;
  flex-direction: column;
}

.story-thumbnail.hasSubstories {
  /* inherits flex column from .story-thumbnail */
}

.thumbnail-substories {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}