

.story-thumbnail {
  width: 15rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
}

.story-thumbnail.hasSubstories {
  display: inline-flex;
  flex-direction: column;
  width: max-content;
  min-width: 15rem;
  max-width: 40rem;
}

.thumbnail-substories {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: fit-content;
  align-self: flex-start;
}