<div class="location-thumbnail world-thumbnail location" [routerLink]="['/location', worldLocation().id]">
    <div class="thumbnail-header">
        <h4 class="thumbnail-title">{{ worldLocation().name }}</h4>
        <button class="thumbnail-delete-button" (click)="deleteLocation(worldLocation().id, $event)">Delete</button>
    </div>
    
    @if (showCharacters() && characterNames.length > 0) {
        <div class="thumbnail-info thumbnail-characters">
            {{ characterNames.join(', ') }}
        </div>
    }
    
    @if (showStories() && storyTitles.length > 0) {
        <div class="thumbnail-info thumbnail-stories">
            {{ storyTitles.join(', ') }}
        </div>
    }
    
    @if (showLocation() && relatedLocationNames && relatedLocationNames.length > 0) {
        <div class="thumbnail-info thumbnail-location">
            Related: {{ relatedLocationNames.join(', ') }}
        </div>
    }
    
    <div class="thumbnail-description">
        {{ worldLocation().description }}
    </div>
    <div class="thumbnail-tag-container">
    @for (tag of worldLocation().tags; track tag) {
        <div class="tag" (click)="onTagClick(tag, $event)">{{ tag }}</div>
    }
    </div>
</div>