<div class="timeline-item" [class.current-event]="isCurrentEvent()">
  @if (shouldShowYear()) {
    <div class="year-marker">
      <span class="year-label">{{ getYear(event().date) }}</span>
    </div>
  }
  <div class="timeline-connector"></div>

  <div class="timeline-content-wrapper">
    <div class="timeline-date">
      {{ formatDateRange() }}
    </div>
    <div class="timeline-event"  [routerLink]="['/event', event().id]">
      <div class="event-header">
        <h3 class="event-title">{{ event().name }}</h3>
      </div>

      <div class="event-details">
        @if (showLocation() && event().location.length > 0) {
          <div class="event-info event-location">
            {{ event().location.join(', ') }}
          </div>
        }
        
        @if (showCharacters() && event().characters.length > 0) {
          <div class="event-info event-characters">
            {{ event().characters.join(', ') }}
          </div>
        }
        
        @if (showStories() && event().stories.length > 0) {
          <div class="event-info event-stories">
            {{ event().stories.join(', ') }}
          </div>
        }
        
        <div class="event-description">
          {{ event().description }}
        </div>
      </div>
      
      @if (event().tags.length > 0) {
        <div class="event-tags">
          @for (tag of event().tags; track tag) {
            <span class="tag" (click)="onTagClick(tag)">{{ tag }}</span>
          }
        </div>
      }
    </div>
  </div>
</div>