.character-thumbnail {
  min-width: 10rem;
  width: fit-content;
  height: 8rem;
}

.thumbnail-alt-names {
  font-size: small;
  color: var(--g1-color);
}

.thumbnail-pronouns {
  font-size: small;
  color: var(--g1-color);
}