<section class="filter-section">

  <div class="collapsible-header" (click)="toggleFilters()">
    <h3 class="filter-header">{{ searchLabel}}</h3>
  </div>
  <button class="primary clear-button" 
          (click)="clearSearchBar()" 
          title="Clear search">
    Clear Search
  </button>
  <div class="search-container">
    <input type="text" 
           class="search-input" 
           [placeholder]="searchPlaceholder" 
           #searchInput 
           (input)="onSearchChange()"/>
  </div>
  
  <div class="collapsible-header" (click)="toggleFilters()">
    <h3 class="filter-header clear-button">Filter By</h3>
  </div>
    <button class="secondary" (click)="clearAllFilters()">Clear Filters</button>
  <div class="filter-container">
    <div>
      @if (filterConfig.showCharacters) {
        <div class="filter-group">
          <label class="secondary-label">Characters</label>
          <div class="checkbox-group">
            @for (character of allCharacters; track character.id) {
              <label class="checkbox-label">
                <input type="checkbox" 
                       [value]="character.id"
                       (change)="onCharacterFilterChange($event)"
                       class="filter-checkbox">
                {{character.firstName}} {{character.lastName}}
              </label>
            }
          </div>
        </div>
      }
      
      @if (filterConfig.showStories) {
        <div class="filter-group">
          <label class="secondary-label">Stories</label>
          <div class="checkbox-group">
            @for (story of allStories; track story.id) {
              <label class="checkbox-label">
                <input type="checkbox" 
                       [value]="story.id"
                       (change)="onStoryFilterChange($event)"
                       class="filter-checkbox">
                {{story.title}}
              </label>
            }
          </div>
        </div>
      }
      
      @if (filterConfig.showLocations) {
        <div class="filter-group">
          <label class="secondary-label">Locations</label>
          <div class="checkbox-group">
            @for (location of allLocations; track location.id) {
              <label class="checkbox-label">
                <input type="checkbox" 
                       [value]="location.id"
                       (change)="onLocationFilterChange($event)"
                       class="filter-checkbox">
                {{location.name}}
              </label>
            }
          </div>
        </div>
      }
      
      @if (filterConfig.showDateRange) {
        <div class="filter-group">
          <label class="secondary-label">Date Range</label>
          <div class="date-range-group">
            <label class="checkbox-label">
              <input type="checkbox" 
                     #startDateEnabled
                     (change)="onStartDateToggle($event)"
                     class="filter-checkbox">
              Start Date
            </label>
            <input type="date" 
                   #startDateFilter 
                   (change)="onDateChange()" 
                   placeholder="Start Date" 
                   class="date-input"
                   [disabled]="!isStartDateEnabled">
            
            <span class="date-separator">to</span>
            
            <label class="checkbox-label">
              <input type="checkbox" 
                     #endDateEnabled
                     (change)="onEndDateToggle($event)"
                     class="filter-checkbox">
              End Date
            </label>
            <input type="date" 
                   #endDateFilter 
                   (change)="onDateChange()" 
                   placeholder="End Date" 
                   class="date-input"
                   [disabled]="!isEndDateEnabled">
          </div>
        </div>
      }
    </div>
  </div>
</section>