.home-page-container {
  display: flex;
}
.world-info-container {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.world-info-header {
  display: flex;
  justify-content: space-between;
}

.display-icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  pointer-events: none;
  filter: brightness(0.2);
}