.character-heading {
  font-weight: bold;
  margin-bottom: 15px;
}

.character-page-body {
  display: flex;
  flex-wrap: wrap;
}

.event-thumbnails {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  center-items: center;
}