.character-heading {
  font-weight: bold;
  margin-bottom: 15px;
}

.character-page-body {
  display: flex;
  flex-wrap: wrap;
}

.alt-names {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 10pt;
  color: var(--g3-color);
}

.relationship-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
}

.relationship-textarea {
  display: block;
  margin-top: 5px;
  flex-grow: 1;
}

.relationship-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 11pt;
  border-bottom: 1px solid var(--g3-color);
  padding: 5px 5px 0px 5px;
  border-radius: 10px 10px 0 0;
  background-color: var(--g4-color);
}