<div class="story-thumbnail world-thumbnail story" [routerLink]="['/story', worldStory().id]">
    <div class="thumbnail-header">
        <h4 class="thumbnail-title">{{ worldStory().title }}</h4>
        <button class="thumbnail-delete-button" (click)="deleteStory(worldStory().id, $event)">Delete</button>
    </div>
    <div class="thumbnail-description">
        @for ( paragraph of worldStory().description.split('\n'); track paragraph) {
            <p>{{ paragraph }}</p>
        }
    </div>
    <div class="thumbnail-tag-container">
    @for (tag of worldStory().tags; track tag) {
        <div class="thumbnail-tags">{{ tag }}</div>
    }
    </div>
</div>