<article>
  <h1>Characters</h1>
  <section class="filter-section">
    <label for="filter">Search characters</label>
    <input type="text" class="search-input" placeholder="Search" #filter (input)="filterResults(filter.value)"/>
  </section>
  <button class="primary" (click)="addWorldCharacter()">Add Character</button>

  <section class="results">
    @if (filteredCharacterList.length) {
      @for (worldCharacter of filteredCharacterList; track worldCharacter.id) {
        <app-character-thumbnail [worldCharacter]="worldCharacter"></app-character-thumbnail>
      }
    } @else {
      <div class="no-results">
        <p>No characters found. Try adjusting your search or add a new character.</p>
      </div>
    }
  </section>
</article>