/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --primary-color: #283618;
  --secondary-color: #606c38;
  --background-color: #fefae0;
  --accent-color: #dda15e;
  --shadow-color: #bc6c25;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: var(--primary-color);
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--secondary-color);
  text-decoration: underline var(--shadow-color);
}

h2 {
  margin-top: 20px;
  /* margin-bottom: 10px; */
}

a {
  color: inherit;
  text-decoration: inherit;
}

.details-button {
  background: var(--accent-color);
  color: var(--secondary-color);
  font-size: x-small;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  transition: box-shadow 0.5s ease-in-out, background 0.5s ease-in-out, color 0.5s ease-in-out;
  /* cursor: pointer; */
}

.details-button:hover {
  color: var(--primary-color);
  background: var(--shadow-color);
  box-shadow: 3px 3px 10px var(--shadow-color);
}
/* Icons */

.event-location::before {
  content: '📍';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

.event-characters::before {
  content: '👥';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

.event-stories::before {
  content: '📖';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

.event-tags::before {
  content: '🏷️';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.event-date::before {
  content: '📅';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.event-tags::before {
  content: '🏷️';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}