.character-heading {
  font-weight: bold;
  margin-bottom: 15px;
}

.character-page-body {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
}

.relationship-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.relationship-textarea {
  display: block;
  margin-top: 5px;
  flex-grow: 1;
}

.relationship-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 11pt;
  border-bottom: 1px solid var(--g3-color);
  background-color: var(--g4-color);
  /* background: linear-gradient(0deg, var(--g4-color), var(--g5-color)); */
}