.character-heading {
  font-weight: bold;
  margin-bottom: 15px;
}

.character-page-body {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
}

.relationship-section {
  margin-bottom: 10px;
}