.home-row-title {
  /* border: 1px solid var(--g1-color);  */
  /* color: var(--b2-color); */
  font: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -5px;
  padding: 0;
}

.home-row {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
  justify-content: space-around;
  border: 2px solid var(--g1-color);
  border-radius: 1px 1px 7px 7px;

  /* &::-webkit-scrollbar {
    background-color: red;
  } */
}

.add-button {
  background: var(--g1-color);
}

/* No Results Styling */
.no-results {
  width: 100%;
  text-align: center;
  padding: 2rem;
  color: var(--g3-color);
}

.no-results p {
  font-size: 1.1rem;
  margin: 0;
  font-style: italic;
}