.heading {
    font-weight: bold;
    margin-bottom: 15px;
}

.description {
    margin-bottom: 25px;
}

.details {
    border: 1px solid var(--g1-color);
}

.location {
    font-size: 24pt;
    margin-bottom: 15px;
}
